/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh; /* Asegura que el cuerpo tenga una altura mínima de 100vh */
    flex-direction: row;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #E87945;
    color: white;
    padding: 5px;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Main content */
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Deja espacio para el sidebar */
    min-height: 100vh; /* Asegura que el contenido principal ocupe toda la altura */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header input {
    padding: 6px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.logout {
    color: #6B6B6B;
    text-decoration: none;
}

.logout:hover {
    text-decoration: underline;
}

.sales-section h3 {
    color: #6B6B6B;
}

.btn {
    background-color: #E87945;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #D06739;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo-img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.logo-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
}